################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPIDemo
/NZWalks/NZWalks.API/bin/Debug/net7.0/runtimes
/NZWalks/NZWalks.API/bin/Debug/net7.0
/.vs/NZWalks.API/v17
/NZWalks/.vs/NZWalks/FileContentIndex
/.vs
/NZWalks/NZWalks.API/obj/Debug/net7.0
/NZWalks/.vs/NZWalks
/NZWalks/.vs/NZWalks/v17
/NZWalks.API/obj/Debug/net7.0

# Ignore build output and debug directories
bin/
obj/
*.exe
*.dll
*.pdb
*.appx
*.appxbundle
*.build.cs
*.cache
*.log
*.metaproj
*.metaproj.tmp
*.msbuild*
*.suo
*.user
*.userosscache
*.userprefs
*.tlog/
*.tmp
*.vscode/
.vs/
_ReSharper*/
*.ncrunch*

