################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPIDemo
/NZWalks/NZWalks.API/bin/Debug/net7.0/runtimes
/NZWalks/NZWalks.API/bin/Debug/net7.0
/.vs
/NZWalks/.vs/NZWalks/FileContentIndex
